<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <style>
table {
  font-family: arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

td, th ,tr{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
div {text-align: center;}

</style>

</head>
<body style="text-align:center;">

<h2>Admin Panel</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
      <th>Password</th>
      <th>Type</th>
  </tr>
    {% for item in students %}
<tr>
    <th>{{item[0]}}</th>
    <th>{{item[1]}}</th>
    <th>{{item[2]}}</th>
    <th>{{item[3]}}</th>
    <th>Student</th>
  </tr>
    {% endfor %}
     {% for item in faculties %}
<tr>
    <th>{{item[0]}}</th>
    <th>{{item[1]}}</th>
    <th>{{item[2]}}</th>
    <th>{{item[3]}}</th>
    <th>Faculty</th>
  </tr>
    {% endfor %}



</table>

</body>
</html>