<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
<br> <br>
<h1 style="text-align: center;"> <b> Login </b></h1> <br> <br> <br>
</div>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="text-align:center;">{{message}}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div style="text-align: center; font-size: 22px;">
    <form method="post">
        <b>Email ID:</b><input style="background-color: white; /* Green */
      border:  1px solid #ccc;
      box-sizing: border-box;
      color: black;
      width: 350px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;"  type="email" name="email" required> <br> <br>
        <b>Password: </b><input style="background-color: white; /* Green */
      border:  1px solid #ccc;
      box-sizing: border-box;
      color: black;
      width: 350px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;"  type="password" name="password" required><br> <br>

        <input style="background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 100px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="submit" value="Login">
    </form>
</div>
</body>
</html>