<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mgmtdashboard</title>
</head>
<body style="text-align:center;">
<div>
<h1 style="background-color: #2f1d3a; color:white;" >Management dashboard<br></h1>
<br><br><br>
<div>
<a href="/mgmtdashboard/individual/student"><input style="background-color: red;
  border: none;
  color: white;
  width: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="button" value="Student Analysis" name="Analytics for Student "></a>
&emsp;&emsp;
<a href="/mgmtdashboard/individual/faculty"><input style="background-color: #C12283;
  border: none;
  color: white;
  width: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="button" value="Faculty Analysis" name="Analytics for Faculty "></a>
&emsp;&emsp;
<a href="/mgmtdashboard/studentview"><input style="background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  width: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="button" value="All Students  " name="Student Corner"></a>
&emsp;&emsp;
<a href="/mgmtdashboard/facultyview"><input style="background-color: orange; /* Green */
  border: none;
  color: white;
  width: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="button" value="All Faculty " name="Faculty Corner "></a>
&emsp;&emsp;

</div>



</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/admin"><input style="background-color: black; /* Green */
  border: none;
  color: white;
  width: 250px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;" type="button" value="Admin Panel " name="Admin Panel "></a>
&emsp;&emsp;<br>

</body>
</html>