<!DOCTYPE html>
<html lang="en">
<head>
  <title>ERP For College Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Easy Mail System for Faculty</h1>
</div>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 style="text-align:center;">{{message}}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container">
  <form method="post" action="#">
    <div class="row">
      <div class="col-sm-4">
        <label>Leave Type:</label>
      </div>
      <div class="col-sm-4">
        <select id="type" name="type" class="form-control" required="">
          <option value="Casual Leave">Casual Leave</option>
          <option value="Sick Leave">Sick Leave</option>
          <option value="Earned Leave">Earned Leave</option>
          <option value="Restricted Leave">Restricted Leave</option>
        </select>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-sm-4">
        <label>Message:</label>
      </div>
      <div class="col-sm-4">
        <textarea class="form-group" name="msg" required="" rows="3" cols="39"></textarea>
      </div>
    </div>
    <div class="row" id="submit">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button type="submit" class="class=btn btn-info btn-lg"> 
          <span class="glyphicon glyphicon-send"></span>
          Send
        </button>
      </div>
    </div>
  </form>
</div>
<style type="text/css">
  .row 
  {
    text-align: center;
  }
  .jumbotron.text-center {
      background-color: #2f1d3a;
      color: white;
  }
  div#submit 
  {
    text-align: center !important;
  }
</style>
</body>
</html>
